<!DOCTYPE html>
<html>
<body>

<title>Upload new File</title>
<h2>Comment</h2>

<form method=post enctype=multipart/form-data>
  <label for="date">Date (yyyy-mm-dd):</label><br>
  <input type="text" id="date" name="date" value={{ today_date }}><br>
  <label for="comment">Comment:</label><br>
  <input type="text" id="comment" name="comment" value="Time at the beach"><br><br>
  <input type="submit" value="Register">
  <input type=file name=file>
  <!-- <input type=submit value=Upload> -->
</form>

</body>
